@charset "UTF-8";
/* meyerweb + bootstrap reboot.scss*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #ffffff;
  color: #3D1101;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #FF5E45;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #f82100;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: ＄spacer; }

p {
  margin-top: 0;
  margin-bottom: ＄spacer; }

input {
  border: none; }

.bg-white {
  background-color: #ffffff; }

.bg-primary {
  background-color: #3D1101; }

.bg-transparent {
  background-color: rgba(250, 250, 250, 0.7); }

.bg-black-75 {
  background-color: rgba(0, 0, 0, 0.75); }

.bg-black-35 {
  background-color: rgba(0, 0, 0, 0.35); }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

h1, .h1, .heading-title {
  font-size: 2.25rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.25rem; }

.text-white {
  color: #ffffff; }

.text-secondary {
  color: #EFE9E7; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-3 {
  margin-top: 1rem; }

.mt-4 {
  margin-top: 1.5rem; }

.mt-5 {
  margin-top: 3rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 1.5rem; }

.mb-5 {
  margin-bottom: 3rem; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 0.25rem; }

.ml-2 {
  margin-left: 0.5rem; }

.ml-3 {
  margin-left: 1rem; }

.ml-4 {
  margin-left: 1.5rem; }

.ml-5 {
  margin-left: 3rem; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 0.25rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mr-3 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 1.5rem; }

.mr-5 {
  margin-right: 3rem; }

.mx-0 {
  margin: 0 0; }

.mx-1 {
  margin: 0 0.25rem; }

.mx-2 {
  margin: 0 0.5rem; }

.mx-3 {
  margin: 0 1rem; }

.mx-4 {
  margin: 0 1.5rem; }

.mx-5 {
  margin: 0 3rem; }

.my-0 {
  margin: 0 0; }

.my-1 {
  margin: 0.25rem 0; }

.my-2 {
  margin: 0.5rem 0; }

.my-3 {
  margin: 1rem 0; }

.my-4 {
  margin: 1.5rem 0; }

.my-5 {
  margin: 3rem 0; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.m-3 {
  margin: 1rem; }

.m-4 {
  margin: 1.5rem; }

.m-5 {
  margin: 3rem; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pt-3 {
  padding-top: 1rem; }

.pt-4 {
  padding-top: 1.5rem; }

.pt-5 {
  padding-top: 3rem; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 1.5rem; }

.pb-5 {
  padding-bottom: 3rem; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 0.25rem; }

.pl-2 {
  padding-left: 0.5rem; }

.pl-3 {
  padding-left: 1rem; }

.pl-4 {
  padding-left: 1.5rem; }

.pl-5 {
  padding-left: 3rem; }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: 0.25rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pr-3 {
  padding-right: 1rem; }

.pr-4 {
  padding-right: 1.5rem; }

.pr-5 {
  padding-right: 3rem; }

.px-0 {
  padding: 0 0; }

.px-1 {
  padding: 0 0.25rem; }

.px-2 {
  padding: 0 0.5rem; }

.px-3 {
  padding: 0 1rem; }

.px-4 {
  padding: 0 1.5rem; }

.px-5 {
  padding: 0 3rem; }

.py-0 {
  padding: 0 0; }

.py-1 {
  padding: 0.25rem 0; }

.py-2 {
  padding: 0.5rem 0; }

.py-3 {
  padding: 1rem 0; }

.py-4 {
  padding: 1.5rem 0; }

.py-5 {
  padding: 3rem 0; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.p-3 {
  padding: 1rem; }

.p-4 {
  padding: 1.5rem; }

.p-5 {
  padding: 3rem; }

.position-static {
  position: static !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important; }

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.35rem 1rem;
  background-color: transparent;
  outline: 0; }
  .btn:hover {
    color: #ffffff;
    text-decoration: none; }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5); }

.btn-block {
  display: block;
  width: 100%; }

.btn-lg {
  padding: 0.5rem 3rem; }

.btn-orange {
  background-color: #F56C23; }
  .btn-orange:hover {
    background-color: #db530a; }

.btn-grey {
  background-color: #cccccc; }
  .btn-grey:hover {
    background-color: #b3b3b3; }

.btn-primary {
  background-color: #3D1101; }
  .btn-primary:hover {
    background-color: #0b0300; }

.btn-outline-orange {
  background-color: transparent;
  border: 2px solid #FF5E45;
  color: #FF5E45; }
  .btn-outline-orange:hover {
    background-color: #FF5E45; }
  .btn-outline-orange:active {
    background-color: #ff3212; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.16);
  background-clip: border-box;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16); }

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem; }

.card-title {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 0.75rem; }

.card-subtitle {
  font-size: 0.75rem;
  margin-top: -0.75rem;
  margin-bottom: 0; }

.card-img-top {
  width: 100%; }

.border-top-orange {
  border-top: 3px solid #FF5E45; }

.form-group {
  margin-bottom: 0.5rem; }

.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  color: #4A4A4A;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 2px solid #cccccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
          box-shadow: inset 0px 1px 0px 0px #ECECEC; }

label {
  font-size: 0.875rem; }

.banner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/header_desktop.png") no-repeat center center;
  height: 420px; }
  @media (max-width: 576px) {
    .banner {
      background: url("../img/header_mobile.png") no-repeat center center; } }

.title {
  max-width: 460px; }
  @media (max-width: 576px) {
    .title {
      padding: 15px; } }
  .title p {
    white-space: nowrap; }
  .title h2 br {
    display: none; }
    @media (max-width: 576px) {
      .title h2 br {
        display: block; } }

.contact ul {
  list-style: disc;
  list-style-position: inside; }

.social .fab {
  font-size: 2.25rem; }

.social .fa-google-plus-square {
  color: #DB4437; }

.social .fa-twitter-square {
  color: #41ABE1; }

.social .fa-facebook-square {
  color: #3A5795; }

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #EFE9E7;
  position: relative; }

.container {
  max-width: 960px;
  margin: 10px auto;
  padding-right: 30px;
  padding-left: 30px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding-left: 15px;
  padding-right: 15px; }

.col-lg-1 {
  width: 8.33333%; }
  @media (max-width: 768px) {
    .col-lg-1 {
      width: 100%; } }

.col-lg-2 {
  width: 16.66667%; }
  @media (max-width: 768px) {
    .col-lg-2 {
      width: 100%; } }

.col-lg-3 {
  width: 25%; }
  @media (max-width: 768px) {
    .col-lg-3 {
      width: 100%; } }

.col-lg-4 {
  width: 33.33333%; }
  @media (max-width: 768px) {
    .col-lg-4 {
      width: 100%; } }

.col-lg-5 {
  width: 41.66667%; }
  @media (max-width: 768px) {
    .col-lg-5 {
      width: 100%; } }

.col-lg-6 {
  width: 50%; }
  @media (max-width: 768px) {
    .col-lg-6 {
      width: 100%; } }

.col-lg-7 {
  width: 58.33333%; }
  @media (max-width: 768px) {
    .col-lg-7 {
      width: 100%; } }

.col-lg-8 {
  width: 66.66667%; }
  @media (max-width: 768px) {
    .col-lg-8 {
      width: 100%; } }

.col-lg-9 {
  width: 75%; }
  @media (max-width: 768px) {
    .col-lg-9 {
      width: 100%; } }

.col-lg-10 {
  width: 83.33333%; }
  @media (max-width: 768px) {
    .col-lg-10 {
      width: 100%; } }

.col-lg-11 {
  width: 91.66667%; }
  @media (max-width: 768px) {
    .col-lg-11 {
      width: 100%; } }

.col-lg-12 {
  width: 100%; }
  @media (max-width: 768px) {
    .col-lg-12 {
      width: 100%; } }

.col-md-1 {
  width: 8.33333%; }
  @media (max-width: 576px) {
    .col-md-1 {
      width: 100%; } }

.col-md-2 {
  width: 16.66667%; }
  @media (max-width: 576px) {
    .col-md-2 {
      width: 100%; } }

.col-md-3 {
  width: 25%; }
  @media (max-width: 576px) {
    .col-md-3 {
      width: 100%; } }

.col-md-4 {
  width: 33.33333%; }
  @media (max-width: 576px) {
    .col-md-4 {
      width: 100%; } }

.col-md-5 {
  width: 41.66667%; }
  @media (max-width: 576px) {
    .col-md-5 {
      width: 100%; } }

.col-md-6 {
  width: 50%; }
  @media (max-width: 576px) {
    .col-md-6 {
      width: 100%; } }

.col-md-7 {
  width: 58.33333%; }
  @media (max-width: 576px) {
    .col-md-7 {
      width: 100%; } }

.col-md-8 {
  width: 66.66667%; }
  @media (max-width: 576px) {
    .col-md-8 {
      width: 100%; } }

.col-md-9 {
  width: 75%; }
  @media (max-width: 576px) {
    .col-md-9 {
      width: 100%; } }

.col-md-10 {
  width: 83.33333%; }
  @media (max-width: 576px) {
    .col-md-10 {
      width: 100%; } }

.col-md-11 {
  width: 91.66667%; }
  @media (max-width: 576px) {
    .col-md-11 {
      width: 100%; } }

.col-md-12 {
  width: 100%; }
  @media (max-width: 576px) {
    .col-md-12 {
      width: 100%; } }

.navbar {
  max-width: 1024px;
  width: 100%;
  z-index: 1000; }
  .navbar .container {
    margin-top: 0;
    margin-bottom: 0; }

.menulist a {
  color: #ffffff; }
  .menulist a:hover, .menulist a:active {
    text-decoration: none;
    background-color: #cccccc; }

@media (max-width: 576px) {
  .menu {
    max-height: 0px;
    overflow: hidden;
    display: block;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 56px;
    left: 0;
    right: 0;
    -webkit-transition: max-height 1.5s;
    -o-transition: max-height 1.5s;
    transition: max-height 1.5s;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media (max-width: 576px) {
  .menu li {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: block; } }

.active {
  background-color: #FF5E45; }

.showmenu {
  display: none; }
  @media (max-width: 576px) {
    .showmenu {
      display: block; }
      .showmenu:focus {
        color: #ffffff; } }

@media (max-width: 576px) {
  .menu-show .menu {
    max-height: 500px; } }

.info h2:before, .info h2:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 1px;
  background: #3D1101;
  top: 50%; }
  @media (max-width: 576px) {
    .info h2:before, .info h2:after {
      display: none; } }

.info h2:before {
  left: 8%; }

.info h2:after {
  right: 8%; }

.bio .chef {
  background: url("../img/main_chef_brown.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%; }
  @media (max-width: 576px) {
    .bio .chef {
      width: 100%;
      height: 460px;
      background: url("../img/main_chef_brown.png") no-repeat center center;
      background-size: cover; } }

@media (max-width: 576px) {
  .bio p {
    line-height: 1.2; } }

.login {
  position: static; }
  .login input[type="email"], .login input[type="password"] {
    padding-left: 2.2rem; }
  .login i {
    left: 13px;
    top: 2rem;
    color: rgba(61, 17, 1, 0.5); }
  .login a {
    font-size: 0.875rem; }
  .login .buttons a {
    width: 48%; }

.register input[type="email"], .register input[type="password"] {
  padding-left: 2.2rem; }

.register .envelope, .register .lock-1 {
  left: 13px;
  top: 2rem;
  color: rgba(61, 17, 1, 0.5); }

.register .lock-2 {
  left: 13px;
  top: 4.2rem;
  color: rgba(61, 17, 1, 0.5); }

.register a {
  font-size: 0.875rem; }

.sidemenu a {
  color: #3D1101;
  text-decoration: none;
  border-bottom: 1px solid #3D1101; }
  .sidemenu a:hover {
    background-color: #3D1101;
    color: #ffffff; }

.search input {
  width: 80%;
  border-radius: 0;
  border: 2px solid #3D1101; }
  @media (max-width: 768px) {
    .search input {
      width: 98%; } }

.search a {
  border-radius: 0;
  height: 32px; }

.pay a {
  color: #3D1101;
  font-size: 1rem;
  text-decoration: none; }

.pay i {
  font-size: 1.5rem; }

.pay .line {
  width: 1px;
  height: 16px;
  background-color: #3D1101; }

.pay .mark {
  color: #ffffff;
  background-color: #FF5E45;
  top: -5px;
  right: -5px;
  font-size: 0.875rem;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center; }

@media (max-width: 768px) {
  .food .col-fixed {
    width: 50%; } }

@media (max-width: 576px) {
  .food .col-fixed {
    width: 100%; } }

.food hr {
  width: 60%;
  background-color: #3D1101; }

.food a {
  font-size: 1rem;
  padding-top: 3px;
  padding-bottom: 3px; }

.food .price {
  font-size: 1.25rem;
  font-weight: 700; }

.food .fa-heart {
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 1.5rem; }

.bandage, .bandage-title {
  -webkit-transform: rotate(-315deg);
      -ms-transform: rotate(-315deg);
          transform: rotate(-315deg); }

.bandage {
  top: -65px;
  right: -65px;
  width: 120px;
  height: 120px;
  border-color: transparent transparent #00CC99 transparent;
  border-style: solid solid solid solid;
  border-width: 25px; }

.bandage-left {
  z-index: 100;
  top: -10px;
  right: 75px;
  width: 0;
  height: 0;
  border-color: transparent transparent #078f6d transparent;
  border-style: solid solid solid solid;
  border-width: 5px; }

.bandage-right {
  z-index: 100;
  top: 75px;
  right: -10px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #078f6d;
  border-style: solid solid solid solid;
  border-width: 5px; }

.bandage-title {
  top: 20px;
  right: 0px;
  font-size: 0.875rem; }

/*# sourceMappingURL=all.css.map */
