.sidemenu{
  a{
    color: $primary;
    text-decoration: none;
    border-bottom: 1px solid $primary;
    @include hover{
      background-color: $primary;
      color: $white;
    }
  }
}

.search{
  input{
    width: 80%;
    border-radius: 0;
    border: 2px solid $primary;
    @include breakpoint-lg{
      width: 98%;
    }
  }
  a{
    border-radius: 0;
    height: 32px;
  }
}

.pay{
  a{
    color: $primary;
    font-size: $font-size-base;
    text-decoration: none;
  }
  i{
    font-size: $font-xl;
  }
  .line{
    width: 1px;
    height: 16px;
    background-color: $primary;
  }
  .mark{
    color: $white;
    background-color: $link-color;
    top: -5px;
    right: -5px;
    font-size: $font-sm;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
  }
}


.food{
  .col-fixed{
    @include breakpoint-lg{
      width: 50%;
    }
    @include breakpoint-md{
      width: 100%;
    }
  }
  hr{
    width: 60%;
    background-color: $primary;
  }
  a{
    font-size: $font-size-base;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .price{
    font-size: $font-lg;
    font-weight: $font-weight-bold;
  }
  .fa-heart{
    top: 10px;
    left: 10px;
    color: $white;
    font-size: $font-xl;
  }
}

.bandage, .bandage-title{
  transform: rotate(-315deg);
}

.bandage{
  top: -65px;
  right: -65px;
  width: 120px;
  height: 120px;
  border-color: transparent transparent #00CC99 transparent;
  border-style: solid solid solid solid;
  border-width: 25px;
}
.bandage-left{
  z-index: 100;
  top: -10px;
  right: 75px;
  width: 0;
  height: 0;
  border-color: transparent transparent #078f6d transparent;
  border-style: solid solid solid solid;
  border-width: 5px;
}
.bandage-right{
  z-index: 100;
  top: 75px;
  right: -10px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #078f6d;
  border-style: solid solid solid solid;
  border-width: 5px;
}

.bandage-title{
  top: 20px;
  right: 0px;
  font-size: $font-sm;
}