.login{
  position: static;
  input[type="email"], input[type="password"]{
    padding-left: 2.2rem;
  }
  i { 
    left: 13px;
    top: 2rem;
    color: $primary-50;
  }
  a{
    font-size: $font-sm;
  }
  .buttons{
    a{
      width: 48%;
    }
  }
}