.wrap{
  max-width: 1024px;
  margin: 0 auto;
  background-color: $secondary;
  position: relative;
}

.container{
  max-width:960px;
  margin: 10px auto;
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row{
  display:flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap:wrap;
}

%col{
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

@for $i from 1 through $grid-columns{
  .col-lg-#{$i}{
    @extend %col;
    width: 100% * ($i / $grid-columns );  
    @include breakpoint-lg{
      width: 100%;
    }
  }
}

@for $i from 1 through $grid-columns{
  .col-md-#{$i}{
    @extend %col;
    width: 100% * ($i / $grid-columns );  
    @include breakpoint-md{
      width: 100%;
    }
  }
}