.bg-white {
  background-color: $white;
}

.bg-primary{
  background-color: $primary;
}

.bg-transparent{
  background-color: rgba(250,250,250,0.70);
}

.bg-black-75{
  background-color: $black-75;
}
.bg-black-35{
  background-color: $black-35;
}