@each $n, $spacer in $spacers {
  .mt-#{$n}{
    margin-top: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .mb-#{$n}{
    margin-bottom: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .ml-#{$n}{
    margin-left: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .mr-#{$n}{
    margin-right: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .mx-#{$n}{
    margin: 0 $spacer;
  }
}
@each $n, $spacer in $spacers {
  .my-#{$n}{
    margin: $spacer 0;
  }
}
@each $n, $spacer in $spacers {
  .m-#{$n}{
    margin: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .pt-#{$n}{
    padding-top: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .pb-#{$n}{
    padding-bottom: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .pl-#{$n}{
    padding-left: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .pr-#{$n}{
    padding-right: $spacer;
  }
}
@each $n, $spacer in $spacers {
  .px-#{$n}{
    padding: 0 $spacer;
  }
}
@each $n, $spacer in $spacers {
  .py-#{$n}{
    padding: $spacer 0;
  }
}
@each $n, $spacer in $spacers {
  .p-#{$n}{
    padding: $spacer;
  }
}